<!DOCTYPE html>
<html lang="en">

<head>
  <!--Meta Data-->
  <title>FoodTruck</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
  <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
  <link rel="stylesheet" href="/styles/main.css" type="text/css" />
  <link rel="stylesheet" href="/styles/layout.css" type="text/css" />
  <link rel="stylesheet" href="/styles/header.css" type="text/css" />
  <link rel="stylesheet" href="/styles/customerInterface.css" type="text/css" />
  <!--Google Fonts-->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Bungee&family=Fascinate&family=Source+Sans+Pro:wght@300;400&display=swap" rel="stylesheet">


  <!-- External JS -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/require.js/2.3.6/require.min.js" integrity="sha512-c3Nl8+7g4LMSTdrm621y7kf9v3SDPnhxLNhcjFJbKECVnmZHTdo+IRO05sNLTH/D3vA6u1X32ehoLC7WFVdheg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
  <script type="text/javascript" src="/scripts/app.js"></script>
  <script type="text/javascript" src="/scripts/helperData/mockMenu.js"></script>
  <!--ensuring food items are accessible to fns in customerInterface script-->
  <script type="text/javascript" src="/scripts/customerInterface.js"></script>

</head>

<body>
  <%- include('partials/_header.ejs') %>
  <main>
    <div class = "vendor">
      <div class = "restaurant_details">
        <div class = "restaurant_name"><h1>River Café</h1></div>
        <div class = "restaurant_contact_details">
          <p>6100 Macleod Trail SW #100, Calgary, AB ABC XYZ</p>
          <p>(403) 123-4567</p></div>
      </div>
      <div class = "restaurant_food_items">
        <% for (let food of foodItemsForMenu) { %>
          <div class = food_item>
            <img src = "<%= food.image_url %>"></img>
            <div class = "food_item_details">
              <p><%= food.name %></p>
              <button class="add_food_item" value = "<%= food.name %>" data-id = "<%= food.id %>" data-url = "<%= food.image_url %>">Add</button>
            </div>
          </div>
        <% } %>
        </div>
      </div>
    </div>
    <br>
    <div class = "customer">
      <form class = "customer" action="/api/users/orders" method="POST">
      <div class = "checkout">
        <h1>Number of items in <%= user.name %> cart: <span>(0)</span></h1>
        <button class="checkout" type="submit">Checkout</button>
      </div>
      <div class = "customer_cart">
        </div>
      </div>
    </form>
</body>

</html>
